# Set up

In [ ]:
!pip install pycaret

In [ ]:
import numpy as np; np.random.seed(42)
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
import pycaret
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

!mkdir 'Data'
!unzip 'drive/MyDrive/Kaggle/electric-power-consumption.zip' -d 'Data'

Mounted at /content/drive
Archive:  drive/MyDrive/Kaggle/electric-power-consumption.zip
  inflating: Data/PowerCons_TEST.csv
  inflating: Data/PowerCons_TRAIN.csv
  inflating: Data/README.md
  inflating: Data/forecast_submission_example.csv

# Prepare data and predict

In [ ]:
train = pd.read_csv('/content/Data/PowerCons_TRAIN.csv')
test = pd.read_csv('/content/Data/PowerCons_TEST.csv')

ตอนนี้พยายามแปลงข้อมูล train set ให้เหมือน test set

In [ ]:
half_train=train.iloc[:,1:73]
another_half_train=train.iloc[:,73:len(train.columns)-2]
half_train['kW-12:00-23:50']=another_half_train.sum(axis=1)
half_train['Class']=train['Class'].astype(int)
half_train=half_train.rename(columns={'kW-12:00-23:50':'label'})
#half_train['Class']=half_train['Class'].map({1:'Hot',2:'Cold'})
half_train.head()

   00:00  00:10  00:20  00:30  00:40  ...  11:30  11:40  11:50  label  Class
0   0.44   0.40   0.36   0.35   0.35  ...   0.16   0.22   0.62  41.30      1
1   0.14   0.19   0.19   0.16   0.16  ...   0.29   0.17   0.13  27.79      1
2   0.34   0.34   0.34   0.26   0.18  ...   0.25   0.25   0.29  51.04      1
3   1.70   1.50   1.30   3.40   5.50  ...   0.28   0.34   0.41  67.77      1
4   1.78   1.59   1.39   1.45   1.45  ...   1.33   1.31   1.34  31.31      1

[5 rows x 74 columns]

สร้าง model สำหรับทำนาย class เนื่องจากข้อมูล test set ไม่มี class

In [ ]:
classification_model=pycaret.classification.setup(data=half_train, target='Class', train_size=0.8,
               numeric_features=list(half_train.drop(['label','Class'],axis=1).columns),
               ignore_features=['label'],
               normalize=True,
               silent=True)

best_class_model=pycaret.classification.compare_models(sort='Accuracy',turbo=False)

AttributeError: ignored

In [ ]:
test_nodate=test.drop('Day',axis=1)
test_class=pycaret.classification.predict_model(best_class_model, data=test_nodate)['Label']

AttributeError: ignored

In [ ]:
def rmse(y,predict):
  return np.sqrt((np.sum((y-predict)**2))/len(y))

In [ ]:
reg_model=pycaret.regression.setup(data=diff_train, target='label', train_size=0.8,
               numeric_features=list(diff_train.drop(['label'],axis=1).columns),
               categorical_features=['Class'],
               normalize=True,
               silent=True)

best_reg_model=pycaret.regression.compare_models(sort='RMSE',turbo=False)

In [ ]:
#hot_train=diff_train.loc[diff_train.Class=='Hot',:].drop('Class',axis=1)
#cold_train=diff_train.loc[diff_train.Class=='Cold',:].drop('Class',axis=1)
#print(hot_train.head())
#print(cold_train.head())

     t0    t1    t2    t3    t4    t5  ...   t66   t67   t68   t69   t70  label
0 -0.04 -0.04 -0.01  0.00  0.03 -0.02  ... -0.35 -0.36  0.05  0.06  0.40  41.30
1  0.05  0.00 -0.03  0.00  0.02 -0.01  ...  0.00  0.02  0.02 -0.12 -0.04  27.79
2  0.00  0.00 -0.08 -0.08  0.65  0.65  ...  0.01  0.02 -0.01  0.00  0.04  51.04
3 -0.20 -0.20  2.10  2.10 -1.35 -1.35  ...  0.03 -0.01 -0.02  0.06  0.07  67.77
4 -0.19 -0.20  0.06  0.00 -0.04 -0.01  ... -0.07 -0.03 -0.05 -0.02  0.03  31.31

[5 rows x 72 columns]
      t0    t1    t2    t3    t4    t5  ...   t66   t67   t68   t69   t70   label
30 -0.02  0.00  0.02 -0.02 -0.03 -0.02  ...  0.05  0.05 -0.03  0.00  0.03   97.17
31  0.00 -1.10  0.00 -0.01 -0.02 -0.03  ...  0.01  0.05  0.03 -0.01  0.00   75.32
32  0.19  0.20  0.37  0.09  0.09 -0.01  ...  0.00 -0.38  0.00  0.08 -0.51  178.64
33  0.04  0.05  0.05 -0.02 -0.05 -0.04  ... -0.03  0.02  0.07 -0.02 -0.03   84.48
34  0.06  0.03 -0.06  0.01  0.06  0.01  ... -0.29 -0.28 -0.11 -0.03  0.03  135.57

[5 rows x 72 columns]

In [ ]:
#hot_reg_model=pycaret.regression.setup(data=hot_train, target='label', train_size=0.8,
               #numeric_features=list(hot_train.drop(['label'],axis=1).columns),
               #normalize=True,
               #silent=True)

#best_hot_reg_model=pycaret.regression.compare_models(sort='RMSE',turbo=False)

#cold_reg_model=pycaret.regression.setup(data=cold_train, target='label', train_size=0.8,
               #numeric_features=list(cold_train.drop(['label'],axis=1).columns),
               #normalize=True,
               #silent=True)

#best_cold_reg_model=pycaret.regression.compare_models(sort='RMSE',turbo=False)

In [ ]:
diff_test=pd.DataFrame()

first=list(test_nodate.columns)[:-1]
second=list(test_nodate.columns)[1:]
for t1,t2 in zip(first,second):
  diff_test=pd.concat([diff_test,test_nodate[t2]-test_nodate[t1]],axis=1)
diff_test.columns=['t'+str(i) for i in range(len(test_nodate.columns)-1)]
diff_test=pd.concat([diff_test,test_class],axis=1)
diff_test=diff_test.rename(columns={'Label':'Class'})
diff_test

       t0    t1    t2    t3    t4    t5  ...   t66   t67   t68   t69   t70  Class
0   -0.03 -0.01 -0.01  0.00  0.01  0.01  ...  0.00  0.11  0.00  0.74  0.74   Cold
1    0.00  0.00  0.00  0.04  0.00 -0.04  ... -0.35  0.00 -0.06  0.00  0.58    Hot
2   -0.28 -0.28 -0.64 -0.65 -0.05  0.00  ...  0.11  0.00  0.08  0.09  0.32   Cold
3   -0.43 -0.36 -0.37 -0.65 -0.11 -0.11  ... -0.83  0.50  0.49 -0.06 -0.05    Hot
4   -0.11 -0.10 -0.05  0.01  0.04  0.03  ... -0.02  0.00  0.01  0.00  0.01    Hot
..    ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...    ...
175  0.00 -0.01 -0.03 -0.01  0.00 -0.03  ...  0.04 -0.02 -0.01  0.01  0.02    Hot
176 -0.09 -0.08 -0.26 -0.27 -0.26 -0.26  ... -0.03 -0.03  0.03 -0.24 -0.24    Hot
177  0.00  0.00  0.01  0.00  0.01  0.00  ...  0.07  0.00 -0.01 -0.04 -0.04    Hot
178  0.11 -0.04 -0.04  0.00  0.04 -0.03  ...  0.00 -0.01 -0.01  0.03  0.02   Cold
179 -0.07 -0.05 -0.06  0.04  0.05 -0.07  ...  0.01  0.00  0.01 -0.02 -0.01   Cold

[180 rows x 72 columns]

In [ ]:
#hot_test=diff_test.loc[diff_test.Class=='Hot',:].drop('Class',axis=1)
#cold_test=diff_test.loc[diff_test.Class=='Cold',:].drop('Class',axis=1)
#print(hot_test)
#print(cold_test)

In [ ]:
#hot_label=pycaret.regression.predict_model(best_hot_reg_model,hot_test)['Label']
#cold_label=pycaret.regression.predict_model(best_cold_reg_model,cold_test)['Label']
#label=pd.concat([hot_label,cold_label])
#label=label.sort_index()
#label

In [ ]:
submit=pd.DataFrame({'Day':range(1,181),'kW-12:00-23:50':pycaret.regression.predict_model(,diff_test)}).set_index('Day')
submit.to_csv('Submission.csv')